/* src/styles.css */
.calculator {
  width: 320px;
  margin: 40px auto;
  border: 2px solid #333;
  border-radius: 12px;
  padding: 12px;
  display: grid;
  gap: 12px;
}

.display {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 12px;
  min-height: 70px;
  display: grid;
  gap: 6px;
  justify-items: end;
  align-items: center;
}

.previous {
  opacity: 0.6;
  font-size: 14px;
}

.current {
  font-size: 28px;
  font-weight: 700;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  height: 54px;
  border-radius: 10px;
  border: 2px solid #333;
  background: rgb(68, 67, 67);
  font-size: 18px;
  cursor: pointer;
}

.btn-secondary {
  background: #494747;
}

.btn-op {
  background: #373737;
}

.btn-equals {
  background: #262726;
}

.span-2 {
  grid-column: span 2;
}
